<div class="container">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef>Data</th>
                <td mat-cell *matCellDef="let conversao"> {{ dataFormatada(conversao.dataHora) }} </td>
            </ng-container>
        
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let conversao"> {{ horaFormatada(conversao.dataHora) }} </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef>Valor informado</th>
                <td mat-cell *matCellDef="let conversao"> {{ conversao.valorConverter }} </td>
            </ng-container>

            <ng-container matColumnDef="moedaOrigem">
                <th mat-header-cell *matHeaderCellDef>Moeda selecionada</th>
                <td mat-cell *matCellDef="let conversao"> {{ conversao.moedaOrigem.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="moedaDestino">
                <th mat-header-cell *matHeaderCellDef>Moeda convertida</th>
                <td mat-cell *matCellDef="let conversao"> {{ conversao.moedaDestino.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="resultado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Resultado</th>
                <td mat-cell *matCellDef="let conversao"> {{ conversao.resultado }} </td>
            </ng-container>

            <ng-container matColumnDef="taxa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Taxa</th>
                <td mat-cell *matCellDef="let conversao"> {{ conversao.taxa }} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef>Ações</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="" (click)="excluir(row.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
            <tr mat-row *matRowDef="let row; columns: colunasTabela;" [ngClass]="{'alto-valor': row.altoValor}"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Selecione a página da histórico de conversões">
        </mat-paginator>
    </div>
    <p class="info-alto">*Valores em negrito: acima de 500 USD</p>
</div>

