table {
    width: 100%;
}

th {
    user-select: none;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
}

.container > * {
    overflow-x: auto;
}

.alto-valor {
    font-weight: bold;
}
.info-alto {
    font-weight: bold;
    margin-top: 1rem;
}