<div class="camposConversao">
    <mat-form-field class="dropdown">
        <mat-label>Moeda origem</mat-label>
        <mat-select [(ngModel)]="moedaOrigem" required>
        @for (moeda of listaMoedas; track moeda) {
            <mat-option [value]="moeda">{{ moeda.nome }} ({{ moeda.codigo }})</mat-option>
        }
        </mat-select>
    </mat-form-field>
    <mat-form-field class="dropdown">
        <mat-label>Moeda destino</mat-label>
        <mat-select [(ngModel)]="moedaDestino" required>
        @for (moeda of listaMoedas; track moeda) {
            <mat-option [value]="moeda">{{ moeda.nome }} ({{ moeda.codigo }})</mat-option>
        }
        </mat-select>
    </mat-form-field>
    <mat-form-field class="dropdown">
        <mat-label>Valor</mat-label>
        <input type="number" min="0" matInput [(ngModel)]="inputValor" required>
    </mat-form-field>
    <button mat-raised-button type="submit" (click)="getConversao()">Converter</button>
</div>
@if (valorConvertido) {
    <div class="informacoesConversao">
        <p>{{ valorConverter }} em {{ moedaOrigem.codigo }} equivale a</p>
        <h3>{{ valorConvertido }} em {{ moedaDestino.codigo }}</h3>
        <p>Taxa de conversão utilizada: {{ taxaConversao }}</p>
    </div>
}
